# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png
*.d
*.su
*.list
*.zip

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib

#Vscode files
.vscode/

#Kicad Backup Files
*.CM4-Backups/
*.CM4-backups/