# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.mk
*.png
*.d
*.su
*.list
*.zip
*.Debug
*.Release
*.pdb
*.stash
*.ilk

# Eclipse CDT project files
.cproject
.project
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib

#Vscode files
.vscode/

#QT Build files
build-WaffleFlyerGUI-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/ 

#Kicad Backup Files
CM4-backups/